@use '/src/variables';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - variables.$mat-toolbar-height);
}

.skeleton-image {
  max-width: 70%;
  max-height: 70%;
}

.remove-btn {
  margin-top: 10px;
}